.star_img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;

}
.title{
    margin: 2rem 0rem 1rem 0rem;
}
.text{
    color: rgb(196, 196, 196);
    margin-bottom: 1.25rem;
    line-height: 1.4rem;
}
.rating{
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
    
}
.rating_container{
    text-align: center;
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .2s ease-in;
}
.rating_container:active{
    color: white;
    background-color: black;
}
.rating_container:hover{
    background-color: #d87093;
    color: black;
}
.submit_btn{
    width: 100%;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 0;
    border-radius: 25px;
    background-color:#d87093 ;
    color: white;
    letter-spacing: 1.5px;
    font-family: inherit;
    font-weight: 700;
    transition: .2s ease-in;
}
.submit_btn:hover{
    background-color: black;
    color: #d87093;
}
.submit_btn:active{
    background-color: white;
}